@media(prefers-reduced-motion: no-preference) {
    .header-anim {
        animation: header 1s ease-out;
    }
    .header-scroll-anim {
        animation: header-scroll 0.5s ease-out;
    }
    .change-color-anim {
        animation: change-color 0.5s ease-out;
    }
    .title-anim {
        animation: title 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    .forms-anim {
        animation: forms 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    .circle-anim-up {
        animation: circle-up 2s ease;
    }
    .circle-anim-down {
        animation: circle-down 2s ease;
    }
}

@keyframes header {
    0% {
        transform: translateY(-200px);
    }
}

@keyframes header-scroll {
    0% {
        opacity: 0;
        height: 120px;
    }
}

@keyframes change-color {
    0% {
        color: black;
    }
}

@keyframes title {
    0% {
        transform: translateX(-800px);
    }
}

@keyframes forms {
    0% {
        transform: translateX(500px);
    }
}

@keyframes circle-up {
    100%{
        transform: translate(-500px, -1600px);
    }
}

@keyframes circle-down {
    100%{
        transform: translate(230px, -1130px);
    }
}