* {
    color: rgb(65, 65, 65);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html, body{
    height: 100%;
}

a {
    text-decoration: none;
    font-weight: bold;
}

header {
    background-color: white;
    height: 100px;
    width: 90%;
    border-bottom: 1px solid rgb(65, 65, 65, 0.3);  
    padding-left: 5%;
    padding-right: 5%;
}

.header-scroll {
    position: fixed;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.3);
}

.logo {
    float: left;
}

.menu {
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    margin-left: 3%;
}

.menu li a:hover {
    color: rgb(255, 214, 37);
}

.active {
    color: rgb(255, 214, 37);
}

.top, .middle, .bottom {
    height: 800px;
}

.top {
    background-color: blue;
}

.middle {
    background-color: red;
}

.bottom {
    background-color: #FFD625;
    height: 500px;
}