* {
    color: rgb(65, 65, 65);
    font-size: 20px;
    font-family: Roboto;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

header {
    background-color: white;
    height: 100px;
    width: 90%;
    border-bottom: 1px solid rgb(65, 65, 65, 0.3);  
    padding-left: 5%;
    padding-right: 5%;
    animation: header 1s ease-out;
}

.header-scroll {
    background-color: white;
    height: 100px;
    width: 90%;
    margin: 0px 0px 0px 0px;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
}

.logo {
    float: left;
}

.menu {
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    margin-left: 3%;
}

.menu li a:hover {
    color: rgb(255, 214, 37);
}

.active {
    color: rgb(255, 214, 37);
}

.top, .middle, .bottom {
    height: 500px;
}

.top {
    background-color: blue;
    padding-top: 20px;
}

.middle {
    background-color: red;
}

.bottom {
    background-color: purple;
}