/* Regole catalogo */
aside {
    border-right: 1px solid rgb(65, 65, 65, 0.3);
}

input {
    font-size: 15px;
    margin-left: 50px;
}

label {
    font-size: 15px;
}

.inserisci_annuncio {
    background-color:#ffd725;
    border-radius:13px;
    border:2px solid #414141;
    display:inline-block;
    cursor:pointer;
    color:#414141;
    font-size:18px;
    font-weight:bold;
    padding:12px 1px;
    text-decoration:none;
}

.inserisci_annuncio:hover {
    background-color:#414141;
    border:3px solid #ffd725;
    color:#ffd725;
}

/* Regole barra laterale */
.lateral-bar {
    padding-top: 40px;
    padding-left: 30px;
    height: 100%;
    width: 25%;
    color: black;
}

.button-filtra {
    background-color:#ffd725;
    border-radius:13px;
    border:2px solid #414141;
    display:inline-block;
    cursor:pointer;
    color:#414141;
    font-size:20px;
    font-weight:bold;
    padding:10px 20px;
    text-decoration:none;
}

.button-filtra:hover {
    background-color:#414141;
    border:2px solid #ffd725;
    color:#ffd725;
}

/* Regole sezione centrale inserzioni */
.catalogo {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.alloggi-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.appartamenti-button, .posti-letto-button {
    height: 80px;
    width: 40%;
    background-color: #ffd725;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    cursor: pointer;
}

.button-img {
    width: 10%;
}

.appartamenti, .posti-letto {
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appartamento, .posto-letto {
    height: 300px;
    width: 90%;
    margin: 30px;
    padding: 0px 30px;
    border: 2px solid;
    border-radius: 25px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.item2 {
    height: 200px;
    width: 40%;
    border: 1px solid;
    border-radius: 25px 25px 25px 25px;
    background-size: cover;
    background-image: url('../images_case/imm2.jpg');
}

.info {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    color: black;
}

.visible {
    display: flex;
}