/* Regole catalogo */
aside {
    border-right: 1px solid rgb(65, 65, 65, 0.3);
}

h2 {
    font-size: 18px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    color: black;
}

input {
    font-size: 15px;
    margin-left: 50px;
}

label {
    font-size: 15px;
}

.catalogo {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inserisci_annuncio {
    background-color:#ffd725;
    border-radius:13px;
    border:2px solid #414141;
    display:inline-block;
    cursor:pointer;
    color:#414141;
    font-size:18px;
    font-weight:bold;
    padding:12px 1px;
    text-decoration:none;
}

.inserisci_annuncio:hover {
    background-color:#414141;
    border:3px solid #ffd725;
    color:#ffd725;
}

/* Regole barra laterale */
.lateral-bar {
    padding-top: 40px;
    padding-left: 30px;
    height: 100%;
    width: 25%;
    color: black;
}

.button-filtra {
    background-color:#ffd725;
    border-radius:13px;
    border:2px solid #414141;
    display:inline-block;
    cursor:pointer;
    color:#414141;
    font-size:20px;
    font-weight:bold;
    padding:10px 20px;
    text-decoration:none;
}

.button-filtra:hover {
    background-color:#414141;
    border:2px solid #ffd725;
    color:#ffd725;
}

/* Regole sezione centrale inserzioni */
.container-inserzione {
    padding-top: 40px;
    height: 100%;
    width: 75%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.item-inserzione {
    margin: 10px;
    height: 400px;
    width: 95%;
    border: 2px solid;
    border-radius: 25px;
    background-color: whitesmoke;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.item-immagine {
    height: 300px;
    width: 35%;
    border: 1px solid;
    border-radius: 25px 25px 25px 25px;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.item-info {
    height: 250px;
    width: 55%;
    margin: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-bottoni-tipologia {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
}

.select-button-appartamenti {
    background-color: #ffd725;
    margin: 20px;
    font-size:22px;
    border-radius:13px;
    padding:13px 1px;
    border: 0px;
    cursor: pointer;
}

.select-button-posti-letto {
    background-color: #ffd725;
    margin: 20px;
    font-size:22px;
    border-radius:13px;
    border: 0px;
    cursor: pointer;
}

.visible {
    display: flex;
}

.item1 {
    background-image: url('../images_case/imm1.jpg');
}
.item2 {
    background-image: url('../images_case/imm2.jpg');
}
.item3 {
    background-image: url('../images_case/imm3.jpg');
}
