/* Regole bottone profilo utente */
.inserisci_annuncio {
    border-radius:13px;
    border:2px solid #414141;
    display:inline-block;
    cursor:pointer;
    color:#414141;
    font-size:18px;
    font-weight:bold;
    padding:12px 1px;
    text-decoration:none;
}

.inserisci_annuncio:hover {
    background-color:#414141;
    border:2px solid #ffd725;
    color:#ffd725;
}
