footer {
    width: 100%;
    height: 700px;
    padding-top: 250px;
    box-sizing: border-box;
    background-image: url('../images/footer-decoration.png');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

footer ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.copyright {
    /* margin: auto; */
}

footer a, .copyright {
    font-size: 20px;
    color: white;
    text-align: center;
}

footer a:after {
    content: '';
    display: block;
    height: 3px;
    transition: width 0.5s ease, background-color 1s ease;
}
footer a:hover:after {
    width: 100%;
    background: #FFD625;

}
