/* Regole bottone profilo utente */
.bottone_profilo {
    background-color: white;
    border-radius:13px;
    border:2px solid #414141;
    display:inline-block;
    cursor:pointer;
    color:#414141;
    font-size:18px;
    font-weight:bold;
    padding:13px 1px;
    text-decoration:none;
    width: 250px;
}

.bottone_profilo:hover {
    background-color:#414141;
    border:2px solid #ffd725;
    color:#ffd725;
}

/* Regole corpo del documento */
.titolo {
    font-size: 30px !important;
    padding-top: 150px;
    text-align: center;
}

/* Regole bottone primo paragrafo */
.gestisci-alloggi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 150px;
}

.titolo-paragrafo1 {
    font-size: 30px !important;
    text-align: left;
    padding-top: 200px;
    padding-bottom: 10px;
}

.immagine-paragrafo1 {
    padding-right: 150px;
    padding-top: 50px;
}

/* Regole bottone secondo paragrafo */
.scopri-servizio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 150px;
}

.titolo-paragrafo2 {
    font-size: 30px !important;
    text-align: right;
    padding-top: 200px;
    padding-bottom: 10px;
}

.testo-paragrafo2 {
    text-align: right !important;
}

.immagine-paragrafo2 {
    padding-left: 150px;
    padding-top: 100px;
}

