/*regola l'intera sezione (label e container)*/
.stats-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/*regola ogni singola statistica singolarmente*/
.stats {
    height: 50px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #c6c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*css per le label delle statistiche iniziali*/
.indicazione:hover {
    color: rgb(255, 214, 37);
    text-decoration: underline rgb(255, 214, 37);
}

/*regola il contenitore delle singole statistiche*/
.stats-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

/*regole css per tutta la sezione (filtri e risultati)*/
.filter_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}

/*regole css per il contenitore div delle form*/
.form_container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

/*regole css per il contenitore di tutti risultati dei filtri admin*/
.results_container {
    width: 150%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-gap: 1em;
}

/*regole css per ogni article che rappresenta un risultato*/
.result {
    width: 300px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #c6c6c6;
}

/*regole css per il contenuto degli article*/
.content {
    text-align: center;
}


/*regole css per la foto dell contenuto dell'article*/
.img_result {
    width: 300px;
    height: 300px;
    border: 1px solid;
    border-radius: 25px 25px 25px 25px;
    background-size: cover;
}

/*regole css per le palline*/
.loader {
    width: 120px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
}

.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    animation: bounce .5s alternate
    infinite;
}

.ball:nth-child(2) {
    animation-delay: .16s;
}

.ball:nth-child(3) {
    animation-delay: .32s;
}

@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }
    to {
        transform:
        translateY(-25px) scaleX(1);
    }
}

/*regole css per i bottoni filtra in home admin*/
.filter_button_home {
    border-radius: 13px;
    width: 350px;
    height: 60px;
    background-color: #ffd725;
    border: 3px solid #414141;
    text-decoration: none;
    font-size: 25px;
    color: #414141;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    transition: 1s;
}

.filter_button_home::before,
.filter_button_home::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
}

.filter_button_home::before {
    border-top-left-radius: 13px;
    left: -15px;
    top: -15px;
    border-width: 3px 0 0 3px;
}

.filter_button_home::after {
    border-bottom-right-radius: 13px;
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.filter_button_home:hover {
    border-radius: 13px;
    background-color: #414141;
    color: #ffd725;

    border-color: #ffd725;
}

.filter_button_home:hover::before,
.filter_button_home:hover::after {
    border-radius: 13px;
    width: calc(100% + 27px);
    height: calc(100% + 27px);
    border-color: #ffd725;
}

/*regole css per le form (il contenitore giallo con i bordi arrotondati) in home admin*/
.wrap-contact {
    max-width: 960px;
    background: #CAA80E;
    border-radius: 50px;
    padding: 30px 120px;
    position: relative;
}

/*regole css per il contenitore div label+input in home admin*/
.wrap-input {
    width: 100%;
    position: relative;
    background-color: transparent;
    margin-bottom: 12px;
}

/*regole css per il campo di input*/
.input {
    display: block;
    width: 100%;
    background: #f2f2f2;
    border-radius: 13px;
    color: #686868;
    padding: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    margin-top: 5px;
}

/*regole css per il contenitore div del bottone*/
.container-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
