/* Regole vista dettaglio alloggio */

/* Regole generali */
.main-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.primo-box {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.secondo-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

/* Regole immagine */
.image-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.immagine-alloggio {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
}

/* Regole sezione descrizione */
.testo-alloggio {
    width: 100%;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-desc {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Regole servizi */
.box-servizi {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.box-servizio {
    margin-right: 20px;
    margin-left: 20px;
}

.icon {
    margin-right: 16px;
}

.icon-false {
    text-decoration: line-through solid red 15%;
    margin-right: 16px;
}

/* Regole prezzi alloggio */
.box-prezzi {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.box-prezzo {
    margin-right: 20px;
    margin-left: 20px;
}

/* Regole sezione inferiore */
/* Regole contatti */
.contatto-alloggio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.img-contatto {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.img-profilo {
    width: 15%;
    height: 15%;
    background-size: cover;
    background-position: center;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-contatto {
    padding: 20px;
}

.item-desc-contatto {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-contatto {
    padding-bottom: 40px;
}

/* Regole mappa */
.mappa-alloggio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
